.jumbotron {
    background-color: #7550FE;
    color: white;
}

.button-left {
    background-color: #1ACB98;
    color: white;
}

.button-right {
    background-color: #FFFFFF;
    color: black;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    
}

.dropdown-toggle::after {
    content: none;
}

.bi-chevron-down {
    padding-left: 7px;
}

.logo {
    height: 40px;
    padding-left: 12px; 
}